URL decoding incorrectly converts literal '+' characters to spaces

Given the url bellow, the tool generates a link not matching the original url parameter when decoded:

Original url parameter: `-o:/[^ \n]+((?:[ \n]+[^ \n]+)|~){4}/`
Original url percent-encoded by the website (scryfall):
`https://scryfall.com/search?q=-o%3A%2F%5B%5E+%5Cn%5D%2B%28%28%3F%3A%5B+%5Cn%5D%2B%5B%5E+%5Cn%5D%2B%29%7C~%29%7B4%7D%2F`

## Encode -> Decode process

To make things cleaner lets use this as an example:
Original url parameter: `(a + b)`
Original url percent-encoded by the website (exmaple.com):
`example.com?q=%28a+%2B+b%29`

Shortened: `http://ha.mr#bE0b)IAUfO*&9V~1'(`
Decoded: `http://example.com/?q=(a%20+%20b)`

Decoded by the website (example.com): `https://example.com/?q=(a   b)`

`(a   b)` is not equal to
`(a + b)`

As you can see, the original `'+'` character got converted into a space `' '`.

## My observations
What I think is happening:
1) Internally ha.mr correctly percent-decodes: `%2B` -> `'+'`
2) When the url is handled by the target website (example.com), another conversion happens: `'+'` -> `' '`

## Specifications
When decoding the url on the recieving server, diferent parts of the url use diferent decoding:
- percent-decoding for rest of the url:
`%XX` -> byte
`http://example.com/?` -> `http://example.com/?`
- application/x-www-form-urlencoded for query parameter values:
`%XX` -> byte
`+` -> `' '`
`%28a+%2B+b%29` -> `(a + b)`

This is part of the `application/x-www-form-urlencoded` parsing algorithm in the [WHATWG URL Standard](https://url.spec.whatwg.org/#application-x-www-form-urlencoded-parsing).

There are also other reserved characters that we need to be careful about, e.g. /, ?, #, &, %... See [RFC 3986, Section 2.2](https://www.rfc-editor.org/info/rfc3986/#section-2.2).

## Proposed solution
1) Manually add special cases for all reserved characters.
I noticed that ha.mr does not convert `%20` into space but does convert `%2B` into `'+'`. Make the same rule for the other special cases. Either:
   1) Convert `%2B` -> `'+'`, let ha.mr process the url. Then let ha.mr decode -> convert any `'+'` back to `%2B`.
   2) Do **not** convert `%2B` -> `'+'`, let ha.mr process the url. Then let ha.mr decode.
Now output_url should equal original_url

2) Use a library that is WHATWG URL Standard compatible.
 Decode the url:
`e%78ample.com/?q=%28a+%2B+b%29` -> `https://example.com/?q=%28a+%2B+b%29`
Decode the parameters (optional):
`q=%28a+%2B+b%29` -> `q=(a + b)`
ha.mr processes this string, encodes, compresses, decodes, decompresses.
Encode the parameters (optional):
`q=(a + b)` -> `q=%28a+%2B+b%29`
Encode the url...

3) Do not fight the percent-encoding
percent-encode whatever you can. Then convert each %XX part into one byte (256 values / digits). Then ha.mr does the compression on these bytes.

## Future proofing

before returning the shortened url to the user, always check if it's valid:
`decode_url(decode(shortened_url)) == original_url`
where:
`decode_url` is WHATWG URL Standard compliant algorithm.
`decode` is ha.mr decode function
`original_url` is the url provided by the user


tl;dr `output.replaceAll("+", "%2B")`

We already had the system for this in place, turns out it just wasn't being used due to an oversight.